body{
    background: url(../../../assets/fondo2.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
h1, h2{
    font-variant: small-caps;
}