<body>
    <h1>Eventos pasados</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Evento1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fiesta de la Espuma</h5>
                    <p class="card-text">Sábado 14 La primera ! Al Estilo Las Palmas
                        llega la fiesta mas esperada " La Fiesta De La Espuma "
                        Todo el mundo gratis Hasta las 02.30 Hs
                        si todos gratis hasta las 2,30
                        Dale veni y si no te queres mojar, pista y entrepiso para mirar
                        Que mas queres ?
                        Las Palmas</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Sabado, 14/12/2019</small>
                    <small class="text-muted">De 23:30hs a 07:00hs.</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Evento2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Show Daniel Agostini</h5>
                    <p class="card-text">Llega El Numero 1
                        Sabado 12 De Octubre
                        Daniel Agostini
                        Anticipadas En Neuquén Disqueria Almendra ( Lainez 185 )
                        En Cipolletti Calzados Juan Cruz .(Esmeralda 1064 Brentana 363) o compra aqui..</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Sabado, 12/10/2019</small>
                    <small class="text-muted">De 23:30hs a 06:00hs.</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Evento3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diego Rios</h5>
                    <p class="card-text">Sábado 6 de julio Diego Ríos.
                        Show exclusivo toda la noche. compra las primeras 500 entradas a $100 YA ESTÁN A LA VENTA !
                        En Disqueria Almendra (Lainez 185 Neuquén) y Calzados Juan Cruz de (Brentana 363 y Esmeralda
                        1064 Cipolletti) o Aquí en la web </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Sabado, 06/07/2019</small>
                    <small class="text-muted">De 23:59hs a 07:00hs.</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Evento4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">El Mago y La Nueva</h5>
                    <p class="card-text">Con todas las Canciones de La Nueva Luna.
                        Sábado 11 De Mayo.
                        ATENCIÓN ¡¡¡¡¡
                        Adquirí acá por la web 1 entrada a $100 y entran 2 Hasta las 03 Hs.
                        Así es pagas 1 y entran 2
                        Hace doble Click en el botón comprar.
                        Y paga con tarjeta de crédito un rapipago o pagofacil
                        y solo ingresas con comprobante o numero de Cobro
                        O acércate a los puntos de venta...</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Sabado, 11/05/2019</small>
                    <small class="text-muted">De 23:59hs a 07:45hs.</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Evento5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Viru kumbieron En Las Palmas</h5>
                    <p class="card-text">La Banda que Pablito Lescano Y Damas Gratis llevo a conocer
                        nos visita a neuquén y estará en las palmas Disco Concert.
                        Anticipadas En Disqueria Almendra Y Calzados Juan Cruz
                        o aqui por la web e ingresas solo con tu dni..
                        http://mpago.la/2wokwQ
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Viernes, 31/08/2019</small>
                    <small class="text-muted">De 23:59hs a 07:15hs.</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/Evento6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Show en vivo La Repandilla</h5>
                    <p class="card-text">Oscar Belondi y toda su banda en vivo ¡¡¡</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Sabado, 19/04/2019</small>
                    <small class="text-muted">De 23:59hs a 05:59hs.</small>
                </div>
            </div>
        </div>
    </div>



</body>