body{
    background: url(../../../assets/fondo2.jpg) no-repeat center center fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
h1{
    color: rgb(255, 255, 255);
    font-variant: small-caps;
}
div{
    padding-bottom: 1%;
}