<body class="fondo">
  <main>
    <section>
      <h1 class="cover-heading">SOMOS RADIO FUSION</h1>
      <a href="http://radiofusion.com.ar/app1052179.apk"><img src="../../../assets/playstore.png" height="90" width="130"
        alt="ANDROID"></a>
      <P>Radio Fusion es la emisora de radio perfecta para escuchar los exitos musicales del momento. Musica y programas
        para entretenerte sin descanso las 24 hs del dia. Sintonicenos y deje que nuestros Djs y Locutores te hagan
        disfrutar con buena musica, increibles eventos y mucho mas</P>
    </section>
  </main>  
</body>

