
<body>
    <h1>Programacion</h1>
    <table align="center">
        <tr>
            <th>Horario</th>
            <th>Genero</th>
        </tr>
        <tr>
            <td>De 7 a 9 hs</td>
            <td>Bachata</td>
        </tr>
        <tr>
            <td>De 9 a 12 hs</td>
            <td>Reggaeton</td>
        </tr>
        <tr>
            <td>De 12 a 15 hs</td>
            <td>Pop latino</td>
        </tr>
        <tr>
            <td> De 15 a 18 hs</td>
            <td>Cachaca</td>
        </tr>
        <tr>
            <td>De 18 a 21 hs</td>
            <td>Cumbia</td>
        </tr>
        <tr>
            <td>De 21 a 00 hs</td>
            <td>Melodicos a Lentos</td>
        </tr>
    </table>
</body>